*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;

}
body {
    font-family: var(--majorFont);
    font-size: 1.6rem;
    line-height: 1;
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
    color: #FF7272;
}
h3{
    font-size: 3.2rem;
    color: #FFB5B5;
}
h4{
    font-size: 2.4rem;
    color: #FFB5B5;
}

a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f2233;
    color: white;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    /* position: relative; */
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0606322b;
}

.menu .menu__header{
    display: flex;
    align-items: center;

}

.menu .menu__list{
    display: flex;
    justify-content: space-around;
    text-align: right;
    gap: 1rem;
}
.fondo{

    width: 100%;

    background-image: url(../img/david-schultz-SrewPUfo2c0-unsplash.jpg);
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.title{
    /* background-image: url(../img/fondo-portfolio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem; */
    /* margin-bottom: 10rem; */
}
.title__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__container{
    /* width: 100%; */
}
.title__profile{
    width: 25%;
    border-radius: 50%;
}
.title__div{
    padding: 3rem 0;
}
@media (min-width: 768px) {
    .title__div{
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
    }

    .title__container{
        width: 70%;
        order: -1;
        display: flex;
        flex-direction: column;

    }
}



.title__network{
    display: flex;
    justify-content: space-around;
}
.title__network__item{
    font-size: 2rem;
    padding:.5rem;
}
.title__network__item a:hover{
    color:#ea6358;
}
.about{
    background-color: #25273e;
}
/* SKILS */

.skills__title{
    text-align: center;
}
.skills__line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    color: white;
}
@media (min-width: 768px) {
    .skills__line{
        grid-template-columns: repeat(6,1fr);

    }
}
.skills__box{
    height: 10rem;
    border:1px solid #ea6358;
    border-radius: 1rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.skills__box:hover{
    background-color: #ea6358;
    transform: scale(1.1);
}
.skills__img, .skills__name{
    text-align: center;
}
/* HOBIES */
.hobbies__title{
    text-align: center;
}
.hobbies__line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    color: white;
}
@media (min-width: 768px) {
    .hobbies__line{
        grid-template-columns: repeat(6,1fr);

    }
}

.hobbies__box{
    height: 10rem;
    border:1px solid #ea6358;
    border-radius: 1rem;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hobbies__img, .hobbies__name{
    text-align: center;
}
.hobbies__box:hover{
    background-color: #ea6358;
    transform: scale(1.1);
}

/* --------------------------- ACADEMIC --------------------------- */
.academic__courses{
    display: flex;
    justify-content: space-between;
}
.academic__courses__box{
    flex-basis: 30%;
}
.experience__container__img{
    overflow: hidden;
}
.experience__img{

 transition: all .4s ease;
 overflow: hidden
}
.experience__img:hover {
    transform:scale(1.5) rotate(0deg); /*cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos*/
    
}

/* --------------------------- EXPERIENCE --------------------------- */
.experience__box{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
}
.experience__box:nth-child(odd) .experience__info{
    order: -1;
}
.experience__info{
    margin-right: 0;
}

/* --------------------------- FORM --------------------------- */

.formcontato__contacto{
    display: flex;
    align-items: center;
    background-color: #25273e;

}
.formcontato__text{
    /* background-color: ; */
    background-color: #25273e;
    border: 2px solid #ea6358;
    text-align: center;
    border-radius: 1rem;
}
.formcontato__title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.formcontato__subtext{
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
}

.formcontato__form{
    
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formcontato__input{
    border: none;
    height: 3rem;
    border-radius: 5px;
    padding: 5px;
}
.formcontato__input:focus{
    background-color: #FFB5B5;
}

.formcontato__botao{
    background-color: #ea6358;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    color: #25273e;
    font-weight: 700;
}

/* .formcontato__img{

}
.formcontato__img:hover{
    animation: cartel 1s 1;
    transform-origin: top center;
  }
  @keyframes cartel{ 
    20%{
      transform: rotate(20deg)
    }
    40%{
      transform: rotate(-15deg)
    }
    60%{
      transform: rotate(10deg)
    }
    80%{
      transform: rotate(-5deg)
    }  
  } */